@import "./../../../../assets/styles/colors.scss";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-night-gray);
  padding: 80px 0;
  z-index: 3;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style-type: none;
  padding: 0;
  li a {
    color: var(--color-ashen-gray);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 3px;
    transition: color 0.3s ease;
    cursor: pointer;
    &:hover {
      color: var(--color-orange-sunset);
    }
    &:focus,
    &.active {
      color: var(--color-orange-sunset);
    }
  }
}

/* Burger Menu */

.burger-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  div {
    width: 100%;
    margin: 7px 5%;
    height: 3px;
    background-color: var(--color-ashen-gray);
  }
}

#navigation {
  opacity: 0;
}

#navigation:checked ~ ul {
  top: 130px;
}

#navigation:checked ~ label .burger-icon {
  padding-top: 5px;
}
#navigation:checked ~ label .burger-icon div:first-of-type {
  rotate: 45deg;
  transition: 125ms ease-in-out;
}
#navigation:checked ~ label .burger-icon div:last-child {
  rotate: -45deg;
  margin-top: -10px;
  transition: 125ms ease-in-out;
}
#navigation:checked ~ label .burger-icon div:nth-child(2) {
  display: none;
}

/* Responsive - Mobile */
@media only screen and (max-width: 1150px) {
  .burger-icon {
    display: block;
  }

  nav ul {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 36px;
    position: absolute;
    top: -530px;
    right: 0;
    padding: 48px;
    border-radius: 8px;
    background-color: var(--color-ebony);
    transition: 125ms ease-in-out;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 30px 0 50px 0;
  }

  #navigation:checked ~ ul {
    top: 80px;
  }
}
