<header>
  <app-logo></app-logo>
  <nav>
    <ul>
      <li>
        <a href="#about-me" [class.active]="activeSection === 'about-me'"
          >About me</a
        >
      </li>
      <li>
        <a href="#skills" [class.active]="activeSection === 'skills'">Skills</a>
      </li>
      <li>
        <a href="#portfolio" [class.active]="activeSection === 'portfolio'"
          >Portfolio</a
        >
      </li>
      <li>
        <a href="#contact-me" [class.active]="activeSection === 'contact-me'"
          >Contact me</a
        >
      </li>
    </ul>
  </nav>
</header>
