<header>
  <app-logo></app-logo>
  <nav>
    <ul>
      <li>
        <a href="#about-me" [class.active]="activeSection === 'about-me'">{{
          "header.about-me" | translate
        }}</a>
      </li>
      <li>
        <a href="#my-skills" [class.active]="activeSection === 'my-skills'">{{
          "header.my-skills" | translate
        }}</a>
      </li>
      <li>
        <a href="#portfolio" [class.active]="activeSection === 'portfolio'">{{
          "header.portfolio" | translate
        }}</a>
      </li>
      <li>
        <a href="#contact-me" [class.active]="activeSection === 'contact-me'">{{
          "header.contact-me" | translate
        }}</a>
      </li>
      <li>
        <a (click)="switchLanguage('en')" [class.active]="currentLang === 'en'">
          EN
        </a>
        /
        <a (click)="switchLanguage('de')" [class.active]="currentLang === 'de'">
          DE
        </a>
      </li>
    </ul>
  </nav>
</header>
