<header>
  <app-logo></app-logo>
  <nav>
    <input type="checkbox" id="navigation" #navigationCheckbox />
    <label for="navigation" title="open-navigation">
      <div class="burger-icon">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </label>
    <ul>
      <li>
        <a
          href="#about-me"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="activeSection === 'about-me'"
          >{{ "header.about-me" | translate }}</a
        >
      </li>
      <li>
        <a
          href="#my-skills"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="activeSection === 'my-skills'"
          >{{ "header.my-skills" | translate }}</a
        >
      </li>
      <li>
        <a
          href="#portfolio"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="activeSection === 'portfolio'"
          >{{ "header.portfolio" | translate }}</a
        >
      </li>
      <li>
        <a
          href="#contact-me"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="activeSection === 'contact-me'"
          >{{ "header.contact-me" | translate }}</a
        >
      </li>
      <li>
        <a
          (click)="switchLanguage('en')"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="currentLang === 'en'"
        >
          EN
        </a>
        /
        <a
          (click)="switchLanguage('de')"
          (click)="closeMenu(navigationCheckbox)"
          [class.active]="currentLang === 'de'"
        >
          DE
        </a>
      </li>
    </ul>
  </nav>
</header>
