@import "../../../../../assets/styles/colors.scss";

.project-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: var(--color-ebony);
}

.img {
  flex: 1;

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 2px solid var(--color-black);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  }
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #ddd;

  .label {
    color: var(--color-honey-orange);
    font-weight: 600;
    white-space: nowrap;
  }

  .list {
    color: var(--color-cloud-gray);
  }
}

.description {
  flex: 1.5;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h3 {
    color: var(--color-orange-sunset);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
  }

  p {
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }

  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
  }
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

/* Responsive - Mobile */
@media only screen and (max-width: 900px) {
  .project-container {
    flex-direction: column;
    justify-content: center;
  }

  .img {
    max-width: none;
  }

  .tech-stack {
    align-items: center;

    .stack {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    div {
      text-align: center;
    }
  }

  .description {
    width: 100%;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .btns {
    gap: 24px;
  }
}

@media only screen and (max-width: 520px) {
  .project-container {
    padding: 12px;
  }

  .btns {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
