@import "../../../../../assets/styles/colors.scss";

.content {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  margin: 24px 0;
  border-radius: 8px;
  background-color: var(--color-ebony);
}

.spacer {
  padding: 20px;
}

.img {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  img {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-black);
    border-radius: 10px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 760px;
  gap: 12px;
  h3 {
    color: var(--color-orange-sunset);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  h4 {
    color: var(--color-honey-orange);
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  p {
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }
  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
  }
}

.btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
