<div id="portfolio-single">
  <div
    class="project"
    *ngFor="let project of projects; let i = index"
    [ngStyle]="getProjectStyle(i)"
  >
    <div class="img" [ngStyle]="getProjectStyle(i)">
      <img
        src="../../../../assets/img/portfolio/{{ project.image }}"
        alt="{{ project.name }}"
      />
    </div>
    <div class="spacer"></div>
    <div class="description" [ngStyle]="getDescriptionStyle(i)">
      <h3>{{ project.name }}</h3>
      <h4>{{ project.languages }}</h4>
      <p>
        {{ project.description }}
      </p>
      <div class="btns">
        <a href="{{ project.linkLiveTest }}" target="_blank">
          <app-button
            [buttonText]="'Live test'"
            [isButtonColored]="true"
          ></app-button>
        </a>
        <a href="{{ project.linkGithub }}" target="_blank">
          <app-button
            [buttonText]="'Github'"
            [isButtonColored]="false"
          ></app-button>
        </a>
      </div>
    </div>
  </div>
</div>
