@import "../../../../../assets/styles/colors.scss";

.project {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  margin: 24px 0;
  border-radius: 8px;
  background-color: var(--color-ebony);
}

.spacer {
  padding: 20px;
}

.img {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  img {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-black);
    border-radius: 10px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 760px;
  gap: 12px;
  h3 {
    color: var(--color-orange-sunset);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  h4 {
    color: var(--color-honey-orange);
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
  }
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-live-test {
  background-color: #9747ff;
  &:hover {
    background-color: #70e61c;
  }
}

.btn-github {
  background-color: #141d2f;
  border: 1px solid #70e61c;
  &:hover {
    background-color: #70e61c;
  }
}
