<section id="about-me">
  <h2>{{ "about-me.headline" | translate }}</h2>
  <div class="about-me">
    <div class="about-me-img">
      <img
        src="assets/img/about-me/me.png"
        alt="Portrait of the author"
        data-aos="zoom-in"
      />
    </div>
    <div class="spacer"></div>
    <div class="about-me-content">
      <div class="about-me-description">
        <p>
          {{ "about-me.description" | translate }}
        </p>
      </div>
      <div class="about-me-item">
        <img src="assets/img/about-me/bulb.svg" alt="Symbol of an idea" />
        <p>
          {{ "about-me.bulb" | translate }}
        </p>
      </div>
      <div class="about-me-item">
        <img
          src="assets/img/about-me/puzzle.svg"
          alt="Symbol of problem-solving"
        />
        <p>
          {{ "about-me.puzzle" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
