@import "../../../../assets/styles/colors.scss";

section {
  padding-top: 100px;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
}

.about-me {
  display: flex;
  justify-content: space-between;
}

.about-me-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 18px;
  border-radius: 8px;
  background-color: var(--color-ebony);
  img {
    width: auto;
    height: 400px;
  }
}

.spacer {
  width: 8%;
}

.about-me-content {
  width: fit-content;
}

.about-me-description {
  padding-bottom: 12px;
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
  }
}

.about-me-item {
  display: flex;
  align-items: center;
  padding: 24px;
  img {
    width: 100px;
    height: 100px;
    padding-right: 36px;
    margin: 0;
  }
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    margin: 0;
  }
}
