<section id="about-me">
  <h2>About me</h2>
  <div class="about-me">
    <div class="about-me-description">
      <p>
        Hey there! I'm Andre, a full-stack developer from Karlsruhe. I had a
        passion for coding since childhood when I first got my hands on a
        computer. Over the years, that fascination has grown into a genuine love
        for the craft. Now, I'm fortunate enough to have turned my hobby into a
        career, tackling exciting new challenges in web development every day.
      </p>
    </div>
    <div class="about-me-item">
      <img src="./../../../../assets/img/about-me/bulb.svg" alt="" />
      <p>
        During my training at Developer Akademie, I gained plenty of practical
        experience through projects and code reviews. I was able to deepen and
        implement this knowledge in many of my own projects as well as group
        projects.
      </p>
    </div>
    <div class="about-me-item">
      <img src="./../../../../assets/img/about-me/puzzle.svg" alt="" />
      <p>
        In case I've piqued your curiosity, I warmly invite you to take a look
        at my previous works. This way, you can gain an impression of my skills.
      </p>
    </div>
  </div>
</section>
