<section id="skills">
  <div class="headline">Skills</div>
  <div class="skills">
    <div class="skills-description">
      <p>
        By working on a variety of projects, I have been able to continuously
        expand and deepen my knowledge and skills in full-stack development. I
        have gained extensive experience in the use of technologies such as
        Typescript, JavaScript and Python, as well as in working with modern
        frameworks such as Angular and Django.
      </p>
    </div>
    <div class="skills-experience">
      <img src="./../../img/skills/angular.svg" alt="angular" />
      <img src="./../../img/skills/typescript.svg" alt="typescript" />
      <img src="./../../img/skills/python.svg" alt="python" />
      <img src="./../../img/skills/django.svg" alt="django" />
      <img src="./../../img/skills/javascript.svg" alt="javascript" />
      <img src="./../../img/skills/html.svg" alt="html" />
      <img src="./../../img/skills/css.svg" alt="css" />
      <img src="./../../img/skills/git.svg" alt="git" />
      <img src="./../../img/skills/firebase.svg" alt="firebase" />
      <img src="./../../img/skills/sql.svg" alt="sql" />
      <img src="./../../img/skills/scrum.svg" alt="scrup" />
      <img src="./../../img/skills/rest-api.svg" alt="rest-api" />
    </div>
  </div>
</section>
