<section id="my-skills">
  <div class="my-skills">
    <div class="my-skills-experience">
      <div class="my-skills-list">
        <img src="./../../assets/img/skills/angular.svg" alt="angular" />
        <img src="./../../assets/img/skills/typescript.svg" alt="typescript" />
        <img src="./../../assets/img/skills/python.svg" alt="python" />
        <img src="./../../assets/img/skills/django.svg" alt="django" />
        <img src="./../../assets/img/skills/javascript.svg" alt="javascript" />
        <img src="./../../assets/img/skills/html.svg" alt="html" />
        <img src="./../../assets/img/skills/css.svg" alt="css" />
        <img src="./../../assets/img/skills/git.svg" alt="git" />
        <img src="./../../assets/img/skills/firebase.svg" alt="firebase" />
        <img src="./../../assets/img/skills/sql.svg" alt="sql" />
        <img src="./../../assets/img/skills/scrum.svg" alt="scrup" />
        <img src="./../../assets/img/skills/rest-api.svg" alt="rest-api" />
      </div>
    </div>
    <div class="spacer"></div>
    <div class="my-skills-description">
      <h2>{{ "my-skills.headline" | translate }}</h2>
      <p>
        {{ "my-skills.description" | translate }}
      </p>
    </div>
  </div>
</section>
