<section id="my-skills">
  <div class="my-skills">
    <div class="my-skills-experience">
      <div class="my-skills-list">
        @for (skill of skills; track skill; let i = $index) {
        <div
          data-aos="fade-right"
          data-aos-anchor=".my-skills"
          [attr.data-aos-delay]="(i + 1) * 100"
        >
          <img [src]="skill.src" [alt]="skill.alt" />
        </div>
        }
      </div>
    </div>
    <div class="spacer"></div>
    <div class="my-skills-description">
      <h2>{{ "my-skills.headline" | translate }}</h2>
      <p>
        {{ "my-skills.description" | translate }}
      </p>
    </div>
  </div>
</section>
