@import "../../../../assets/styles/colors.scss";

section {
  margin-top: 100px;
  scroll-margin-top: 230px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 48px;
}

.spacer {
  padding: 48px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-description {
  padding-bottom: 12px;
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
  }
}

.skills-list {
  width: 710px;
  height: fit-content;
  padding: 18px;
  border-radius: 8px;
  background-color: var(--color-ebony);
  img {
    padding: 12px;
    min-width: 44px;
    height: auto;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(0px)
        rotateX(10deg) scale(1.2);
      filter: brightness(0) saturate(100%) invert(69%) sepia(71%)
        saturate(5127%) hue-rotate(3deg) brightness(108%) contrast(99%)
        drop-shadow(0 4px 15px rgba(255, 140, 0, 0.5));
    }
  }
}
