<section>
  <div class="header">
    <h2>{{ "imprint.headline" | translate }}</h2>
  </div>
  <p>{{ "imprint.tmg" | translate }}</p>
  <br />
  <p>Andre Kempf</p>
  <p>Großschneidersweg 2a</p>
  <p>76149 Karlsruhe</p>
  <h4>{{ "imprint.contact" | translate }}</h4>
  <p>
    {{ "imprint.tel" | translate }}:
    <a href="tel:01724180328">0172-4180328</a>
  </p>
  <p>
    {{ "imprint.mail" | translate }}:
    <a href="mailto:mail@andre-kempf.com">mail&#64;andre-kempf.com</a>
  </p>
  <br />
  <h3>{{ "imprint.disclaimer" | translate }}:</h3>

  <h4>{{ "imprint.liabilityContentHeadline" | translate }}</h4>

  <p>{{ "imprint.liabilityContentDescription" | translate }}</p>

  <h4>{{ "imprint.liabilityLinksHeadline" | translate }}</h4>

  <p>{{ "imprint.liabilityLinksDescription" | translate }}</p>

  <h4>{{ "imprint.copyrightHeadline" | translate }}</h4>

  <p>{{ "imprint.copyrightDescription" | translate }}</p>

  <h4>{{ "imprint.dataProtectionHeadline" | translate }}</h4>

  <p>{{ "imprint.dataProtectionDescription" | translate }}</p>
  <br />
  <p>
    {{ "imprint.sourceText0" | translate }}
    <a href="https://www.impressum-generator.de/" target="_blank">{{
      "imprint.sourceLink0" | translate
    }}</a>
    {{ "imprint.sourceText1" | translate }}
    <a href="https://www.kanzlei-hasselbach.de/" target="_blank">{{
      "imprint.sourceLink1" | translate
    }}</a>
  </p>
</section>
