@import "../../../../assets/styles/colors.scss";

section {
  padding-top: 100px;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  .left {
    width: 40%;
    h3 {
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    .line {
      position: absolute;
      top: 62px;
      left: 0;
      width: 0;
      height: 4px;
      background-color: #1cdae6;
    }
    p {
      padding: 20px 0;
    }
  }
  .spacer {
    width: 5%;
  }
  .right {
    width: 55%;
    z-index: 2;
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    justify-content: center;
    .left {
      width: 100%;
      text-align: center;
    }
    .spacer {
      display: none;
    }
    .right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding-top: 50px;
  }
}
