<section id="contact-me">
  <h2>Contact me</h2>
  <div>
    <div class="content">
      <div class="left">
        <h3>Got a problem to solve?</h3>
        <p>
          Please use this form to get in touch with me. I look forward to
          hearing from you, learning your thoughts, and contributing to your
          projects.
        </p>
        <p>Need a full-stack developer? <b>Contact me!</b></p>
      </div>
      <div class="spacer"></div>
      <div class="right">
        <app-form></app-form>
        <div class="btn-up">
          <a href="#top"
            ><img src="./../../../../img/contact-me/arrow-up.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>
