<footer>
  <div class="content">
    <app-logo></app-logo>
    <nav>
      <ul>
        <li>
          <a href="#top">{{ "footer.home" | translate }}</a>
        </li>
        <li>
          <a href="#about-me">{{ "footer.about-me" | translate }}</a>
        </li>
        <li>
          <a href="#skills">{{ "footer.my-skills" | translate }}</a>
        </li>
        <li>
          <a href="#portfolio">{{ "footer.portfolio" | translate }}</a>
        </li>
        <li>
          <a href="#contact-me">{{ "footer.contact-me" | translate }}</a>
        </li>
      </ul>
    </nav>
    <div class="social">
      <a
        href="https://github.com/Chneemann/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./../../../../assets/img/landing-page/github.svg"
          alt="GitHub"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/andre-kempf/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./../../../../assets/img/landing-page/linkedin.svg"
          alt="LinkedIn"
        />
      </a>
      <a href="mailto:mail@andre-kempf.com">
        <img src="./../../../../assets/img/landing-page/mail.svg" alt="Mail" />
      </a>
    </div>
    <div class="contact">
      <img src="./../../../../assets/img/footer/mail.svg" alt="mail" />
      <a href="mailto:mail@andre-kempf.com">mail&#64;andre-kempf.com</a>
      <div class="spacer"></div>
      <img src="./../../../../assets/img/footer/phone.svg" alt="phone" />
      <a href="tel:+491724180328">+49 172 4180328</a>
    </div>
    <div class="copyright">
      <div class="line"></div>
      <p>&#169; Andre Kempf 2024</p>
      <p>
        <a routerLink="privacy-policy">{{
          "footer.privacy-policy" | translate
        }}</a>
        <span>|</span>
        <a routerLink="legal-notice">{{ "footer.legal-notice" | translate }}</a>
      </p>
    </div>
  </div>
</footer>
