<footer>
  <div class="content">
    <app-logo></app-logo>
    <nav>
      <ul>
        <li>
          <a href="#top">{{ "footer.home" | translate }}</a>
        </li>
        <li>
          <a href="#about-me">{{ "footer.about-me" | translate }}</a>
        </li>
        <li>
          <a href="#my-skills">{{ "footer.my-skills" | translate }}</a>
        </li>
        <li>
          <a href="#portfolio">{{ "footer.portfolio" | translate }}</a>
        </li>
        <li>
          <a href="#contact-me">{{ "footer.contact-me" | translate }}</a>
        </li>
      </ul>
    </nav>
    <div class="social"><app-social-icons /></div>
    <div class="contact">
      <div class="item">
        <img src="./../../../../assets/img/footer/mail.svg" alt="mail" />
        <a href="mailto:mail@andre-kempf.com">mail&#64;andre-kempf.com</a>
      </div>
      <div class="item">
        <div class="spacer"></div>
        <img src="./../../../../assets/img/footer/phone.svg" alt="phone" />
        <a href="tel:+491724180328">+49 172 4180328</a>
      </div>
    </div>
    <div class="copyright">
      <div class="line"></div>
      <p>&#169; Andre Kempf 2024</p>
      <p>
        <a routerLink="privacy-policy">{{
          "footer.privacy-policy" | translate
        }}</a>
        <span>|</span>
        <a routerLink="legal-notice">{{ "footer.legal-notice" | translate }}</a>
      </p>
    </div>
  </div>
</footer>
