@import "./../../../../assets/styles/colors.scss";

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-ebony);
  height: 426px;
  width: calc(100vw - 6px);
  padding: 40px 0 24px 0;
  margin-top: 100px;
  margin-left: calc(-50vw + 50%);
}

.content {
  text-align: center;
  width: 100%;
  max-width: 1440px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style-type: none;
  padding: 0;
  margin: 34px 0;
  li a {
    color: var(--color-ashen-gray);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    &:hover {
      color: var(--color-orange-sunset);
    }
    &:focus,
    &.active {
      color: var(--color-orange-sunset);
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 36px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
      filter: brightness(0) saturate(100%) invert(69%) sepia(71%)
        saturate(5127%) hue-rotate(3deg) brightness(108%) contrast(99%)
        drop-shadow(0 4px 15px rgba(255, 140, 0, 0.5));
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 34px 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    a {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-decoration: none;
      color: var(--color-ashen-gray);
      transition: color 0.3s ease;
      cursor: pointer;
      &:hover {
        color: var(--color-orange-sunset);
      }
    }
    img {
      width: 24px;
      height: auto;
    }
  }
  .spacer {
    width: 24px;
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  .line {
    width: 530px;
    height: 1px;
    margin-bottom: 12px;
    border: 1px solid var(--color-steel-gray);
  }
  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0.03em;
    padding: 6px 0;
    color: var(--color-steel-gray);
    a {
      text-decoration: none;
      color: var(--color-steel-gray);
      transition: color 0.3s ease;
      cursor: pointer;
      &:hover {
        color: var(--color-orange-sunset);
      }
    }
  }
  span {
    padding: 0 9px;
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 900px) {
  nav ul {
    gap: 30px;
  }
}

@media only screen and (max-width: 760px) {
  nav ul {
    display: none;
  }

  .social {
    margin-top: 34px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    margin-top: 60px;
  }

  .contact {
    flex-direction: column;
    .spacer {
      display: none;
    }
  }

  .copyright {
    .line {
      width: 80%;
    }
  }
}
