<div class="social-icons">
  <a
    href="https://github.com/Chneemann/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="./../../../../assets/img/landing-page/github.svg" alt="GitHub" />
  </a>
  <a
    href="https://www.linkedin.com/in/andre-kempf/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="./../../../../assets/img/landing-page/linkedin.svg"
      alt="LinkedIn"
    />
  </a>
  <a href="mailto:mail@andre-kempf.com">
    <img src="./../../../../assets/img/landing-page/mail.svg" alt="Mail" />
  </a>
</div>
