<div class="social-icons">
  <a
    href="https://github.com/Chneemann/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub Profile"
    title="GitHub"
  >
    <img src="assets/img/landing-page/github.svg" alt="GitHub" />
  </a>
  <a
    href="https://www.linkedin.com/in/andre-kempf/"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="LinkedIn Profile"
    title="LinkedIn"
  >
    <img src="assets/img/landing-page/linkedin.svg" alt="LinkedIn" />
  </a>
  <a
    href="mailto:mail@andre-kempf.com"
    aria-label="Send Email"
    title="Send Email"
  >
    <img src="assets/img/landing-page/mail.svg" alt="Mail" />
  </a>
</div>
