@use "../../../../assets/styles/colors.scss" as *;

section {
  padding-top: 100px;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 48px;
}

.description {
  text-align: center;
  padding-bottom: 36px;
  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 600px) {
  section {
    padding-top: 50px;
  }
}
