<form
  (ngSubmit)="onSubmit(contactForm)"
  #contactForm="ngForm"
  onsubmit="return false"
  class="contact-formular"
>
  <input
    id="name"
    type="text"
    name="name"
    #name="ngModel"
    placeholder="{{ 'contact-me-form.name' | translate }}"
    [(ngModel)]="contactData.name"
    autocomplete="on"
    (click)="mailSendTextReset()"
    required
  />
  <div class="error-msg">
    @if (!name.valid && name.touched) {
    <span>{{ "contact-me-form.invalid-name" | translate }}</span>
    }
  </div>
  <input
    id="email"
    type="email"
    name="email"
    #email="ngModel"
    placeholder="{{ 'contact-me-form.email' | translate }}"
    [(ngModel)]="contactData.email"
    autocomplete="on"
    (click)="mailSendTextReset()"
    required
  />
  <div class="error-msg">
    @if (!email.valid && email.touched) {
    <span>{{ "contact-me-form.invalid-email0" | translate }}</span>
    } @else { @if (email.touched && !checkIfUserEmailIsValid(contactData.email))
    {
    <span>{{ "contact-me-form.invalid-email1" | translate }}</span>
    } }
  </div>
  <textarea
    id="msg"
    rows="6"
    name="msg"
    #msg="ngModel"
    minlength="10"
    placeholder="{{ 'contact-me-form.msg' | translate }}"
    [(ngModel)]="contactData.message"
    (click)="mailSendTextReset()"
    required
  ></textarea>
  <div class="error-msg">
    @if (!msg.valid && msg.touched) {
    <span>{{ "contact-me-form.invalid-msg" | translate }}</span>
    }
  </div>
  <div class="privacy-policy">
    <input
      type="checkbox"
      id="checkbox"
      name="checkbox"
      #checkbox="ngModel"
      [(ngModel)]="checkboxState"
      (click)="mailSendTextReset()"
      required
    />
    <label for="checkbox">
      {{ "contact-me-form.privacy-policy-firstText" | translate }}
      <a href="privacy-policy" target="_blank">
        {{ "contact-me-form.privacy-policy-link" | translate }}
      </a>
      {{ "contact-me-form.privacy-policy-lasttext" | translate }}
    </label>
  </div>
  <div class="error-msg">
    @if (!checkbox.valid && checkbox.touched) {
    <span>{{ "contact-me-form.invalid-checkbox" | translate }}</span>
    }
  </div>
  @if (mailSend) {
  <p>
    {{ "contact-me-form.msg-send0" | translate }}<br />
    {{ "contact-me-form.msg-send1" | translate }}
  </p>
  }
  <div class="button">
    <app-button
      [buttonText]="'contact-me-form.button-send' | translate"
      [isButtonColored]="false"
      [disabled]="
        name.invalid ||
        !contactData.name ||
        email.invalid ||
        !contactData.email ||
        msg.invalid ||
        !contactData.message ||
        !checkboxState ||
        !checkIfUserEmailIsValid(contactData.email)
      "
    ></app-button>
  </div>
</form>
