@import "./assets/styles/colors.scss";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/scrollbar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  display: block;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  font-family: "Lato", sans-serif;
  background-color: var(--color-night-gray);
  color: var(--color-ashen-gray);
  overflow-x: hidden;
}
