@import "./assets/styles/colors.scss";
@import "./assets/styles/fonts.scss";
@import "./assets/styles/scrollbar.scss";

* {
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--color-night-gray);
  color: var(--color-ashen-gray);
}
