:root {
  --color-white: #fff;
  --color-black: #000;
  --color-cloud-gray: #ccc;
  --color-ashen-gray: #959595;
  --color-steel-gray: #707070;
  --color-ebony: #1b1b1b;
  --color-night-gray: #121212;
  --color-orange-sunset: #fd6f00;
  --color-honey-orange: #ca5900;
}
