@import "../../../../assets/styles/colors.scss";

section {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.hero {
  width: 50%;
  letter-spacing: 0.03em;
}

.hero-greeting {
  font-size: 24px;
  font-weight: 600;
  font-family: Lato;
  line-height: 28.8px;
  padding-bottom: 12px;
  color: var(--color-steel-gray);
}

.hero-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.6px;
  padding-bottom: 24px;
  color: var(--color-ashen-gray);
}

.hero-title {
  font-size: 60px;
  font-weight: 900;
  line-height: 84px;
  background: linear-gradient(90deg, #984300, #fd6f00, #ca5900);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: waveAnimation 6s ease infinite;
  @keyframes waveAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.hero-social {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  gap: 36px;
  margin: 0;
  padding: 48px 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
      filter: brightness(0) saturate(100%) invert(69%) sepia(71%)
        saturate(5127%) hue-rotate(3deg) brightness(108%) contrast(99%)
        drop-shadow(0 4px 15px rgba(255, 140, 0, 0.5));
    }
  }
}

.hero-images {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  width: 50%;
  .ellipse {
    position: absolute;
    top: 0;
    right: 0;
    width: 618px;
    height: 618px;
    z-index: 1;
  }
  .me {
    position: absolute;
    top: -155px;
    right: 5px;
    width: auto;
    height: 781px;
    clip-path: ellipse(74% 100% at 50% 0);
    z-index: 2;
  }
}

.hero-button {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  gap: 24px;
  margin: 0;
  padding: 24px 0;
}

.hero-experience {
  width: 600px;
  height: fit-content;
  padding: 18px;
  margin: 24px 0 0 0;
  border-radius: 8px;
  background-color: var(--color-ebony);
  img {
    padding: 12px;
    min-width: 44px;
    height: auto;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
    &:hover {
      transform: perspective(800px) rotateY(-15deg) translateY(0px)
        rotateX(10deg) scale(1.2);
      filter: brightness(0) saturate(100%) invert(69%) sepia(71%)
        saturate(5127%) hue-rotate(3deg) brightness(108%) contrast(99%)
        drop-shadow(0 4px 15px rgba(255, 140, 0, 0.5));
    }
  }
}

/* Responsive - Mobile */
@media only screen and (max-width: 1300px) {
  section {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero-images {
    height: 750px;
    width: 100%;
    margin-top: 100px;
    .ellipse {
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
    }
    .me {
      top: -55px;
      left: 50.2%;
      transform: translateX(-50.02%);
    }
  }
}

@media only screen and (max-width: 660px) {
  .hero-experience {
    width: 380px;
  }

  .hero-images {
    height: 550px;
    .ellipse {
      width: 418px;
      height: 418px;
    }
    .me {
      height: 581px;
      clip-path: ellipse(67.5% 100% at 50% 0);
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero-button {
    flex-direction: column;
    gap: 32px;
  }

  section {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .hero-experience {
    width: 380px;
  }

  .hero-images {
    height: 350px;
    margin-top: 0;
    .ellipse {
      width: 278px;
      height: 278px;
    }
    .me {
      height: 331px;
      top: 50px;
      clip-path: ellipse(78% 100% at 50% 0);
    }
  }
}

@media only screen and (max-width: 420px) {
  .hero-experience {
    width: 270px;
  }
}
