<section>
  <div class="hero">
    <div class="hero-greeting">{{ "landing-page.greeting" | translate }}</div>
    <div class="hero-name">Andre Kempf</div>
    <div class="hero-title">{{ "landing-page.title" | translate }}</div>
    <div class="hero-social">
      <app-social-icons />
    </div>
    <div class="hero-button">
      <a href="#contact-me">
        <app-button
          [buttonText]="'landing-page.button-contact' | translate"
          [isButtonColored]="true"
        ></app-button>
      </a>
      <a
        href="assets/downloads/Andre_Kempf_Lebenslauf_2024.pdf"
        download="Andre_Kempf_Lebenslauf_2024.pdf"
      >
        <app-button
          [buttonText]="'landing-page.button-cv' | translate"
          [isButtonColored]="false"
        ></app-button>
      </a>
    </div>
    <div class="hero-experience">
      <img src="assets/img/skills/angular.svg" alt="Angular framework" />
      <img src="assets/img/skills/react.svg" alt="React library" />
      <img src="assets/img/skills/typescript.svg" alt="TypeScript language" />
      <img src="assets/img/skills/python.svg" alt="Python language" />
      <img src="assets/img/skills/django.svg" alt="Django framework" />
      <img src="assets/img/skills/javascript.svg" alt="JavaScript language" />
    </div>
  </div>
  <div class="hero-images">
    <img
      class="ellipse"
      src="./../../../../assets/img/landing-page/ellipse.svg"
      alt="ellipse"
    />
    <img
      class="me"
      src="./../../../../assets/img/landing-page/me.png"
      alt="me"
    />
  </div>
</section>
