<section>
  <div class="hero">
    <div class="hero-greeting">Hi I am</div>
    <div class="hero-name">Andre Kempf</div>
    <div class="hero-title">Full-Stack Developer</div>
    <div class="hero-social">
      <a
        href="https://github.com/Chneemann/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./../../../../assets/img/landing-page/github.svg"
          alt="GitHub"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/andre-kempf/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./../../../../assets/img/landing-page/linkedin.svg"
          alt="LinkedIn"
        />
      </a>
      <a href="mailto:mail@andre-kempf.com">
        <img src="./../../../../assets/img/landing-page/mail.svg" alt="Mail" />
      </a>
    </div>
    <div class="hero-button">
      <a href="#contact-me">
        <app-button
          [buttonText]="'Contact me'"
          [isButtonColored]="true"
        ></app-button>
      </a>
      <!-- TODO add cv -->
      <a href="download/cv.pdf" download="cv.pdf">
        <app-button
          [buttonText]="'Download CV'"
          [isButtonColored]="false"
        ></app-button>
      </a>
    </div>
    <div class="hero-experience">
      <img src="./../../assets/img/skills/angular.svg" alt="angular" />
      <img src="./../../assets/img/skills/typescript.svg" alt="typescript" />
      <img src="./../../assets/img/skills/python.svg" alt="python" />
      <img src="./../../assets/img/skills/django.svg" alt="django" />
      <img src="./../../assets/img/skills/javascript.svg" alt="javascript" />
    </div>
  </div>
  <div class="hero-images">
    <img
      class="ellipse"
      src="./../../../../assets/img/landing-page/ellipse.svg"
      alt="ellipse"
    />
    <img
      class="me"
      src="./../../../../assets/img/landing-page/me.png"
      alt="me"
    />
  </div>
</section>
